*.pyc
*.DS_Store
.idea/
extensions/config.php
extensions/config.ini
bumblebee/config.json
bumblebee/cache*
bumblebee/engines*
botqueue.tmproj
bumblebee/*.log
bumblebee/*.html
ssl-cert.pem
ssl-cert.int
ssl-cert.key
