@tailwind base;

@tailwind components;

.btn-blue {
    @apply border border-blue-500 bg-blue-500 text-white
}

.btn-blue.btn-interactive:hover {
    @apply bg-blue-300 text-black
}

.btn-green {
    @apply border border-green-400 bg-green-400 text-white
}

.btn-green.btn-interactive:hover {
    @apply bg-green-200 text-black
}

.btn-red {
    @apply border border-red-500 bg-red-500 text-white
}

.btn-red.btn-interactive:hover {
    @apply bg-red-300 text-black
}

.btn-black {
    @apply border border-black bg-black text-white
}

.btn-sm {
    @apply p-1 rounded
}

.btn-lg {
    @apply p-2 rounded-lg
}

.pagination > div:first-child > .page-marker {
    @apply rounded-tl rounded-bl
}

.pagination > div:last-child > .page-marker {
    @apply rounded-tr rounded-br
}

.input-with-error {
    @apply flex flex-col-reverse rounded
}

.input-with-error:focus-within {
    @apply shadow
}

.input {
    @apply border rounded outline-none px-1
}

select.input {
    @apply appearance-none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' height='1rem'><path d='M1 4h2v2H1V4zm4 0h14v2H5V4zM1 9h2v2H1V9zm4 0h14v2H5V9zm-4 5h2v2H1v-2zm4 0h14v2H5v-2z'></path></svg>");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(100% - .25rem) center;
}

.input-error {
    @apply text-white bg-red-500 border-red-500 rounded-bl rounded-br px-1
}

.input-with-error > .input-error + .input {
    @apply rounded-bl-none rounded-br-none border-red-500
}

div.input {
    @apply px-0
}

div:not(.input-with-error) > .input:focus {
    @apply shadow
}

.file-label:hover .choose-file {
    @apply bg-blue-300 text-black
}

@tailwind utilities;