#page_signin #signin{margin-top:0;}
#page_signin #signin .title{width:auto;letter-spacing:-1px;margin:0;border:1px solid #ddd;background:#f7f7f7 url("/img/darkgrain.png");padding:15px 30px;font-size:22px;color:#444;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;}
#page_signin #signin form{margin:0;}
#page_signin #signin fieldset{width:auto;margin:0;padding:30px 0 15px 0;background-color:#fff;border:1px solid #ddd;border-top:none;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;}
#page_signin #signin .actions{margin:20px 0 0 0;padding-left:30px;}
#page_signin #signin .control-group,#page_signin #signin .clearfix.error{width:auto!important;padding-top:0!important;margin-left:0!important;margin-right:0!important;padding-left:30px!important;padding-right:30px!important;}
#page_signin #signin label{font-weight:bold;}
#page_signin #signin div.input label{font-weight:normal!important;}
#page_signin #signin p.reset{margin: 15px 0 0 0;}
#page_signin #signin label.remember_me {display: inline;}

#page_signin #signup{margin-top:0;}
#page_signin #signup .title{width:auto;letter-spacing:-1px;margin:0;border:1px solid #ddd;background:#f7f7f7 url("/img/darkgrain.png");padding:15px 30px;font-size:22px;color:#444;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;}
#page_signin #signup form{margin:0!important;padding:0!important;}
#page_signin #signup fieldset{width:auto;margin:0;padding:15px 0 15px 0;background-color:#fff;border:1px solid #ddd;border-top:none;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;}
#page_signin #signup .actions{margin:35px 0 0 0!important;padding-left:30px;}
#page_signin #signup .control-group,#page_signin #signup .clearfix.error{width:auto!important;padding-top:0!important;margin-left:0!important;margin-right:0!important;padding-left:30px!important;padding-right:30px!important;}
#page_signin #signup label{font-weight:bold;}
#page_signin #signup div.input label{font-weight:normal!important;}
#page_signin #signup .clickedit{color:#333!important;margin:11px 0 5px 0;font-family:Cambria,Georgia,serif;font-size:110%;line-height:120%;padding:8px 10px;border:1px dashed #e4e4e4;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}

#page_signin .help-block,#page_signin .error .help-block{margin-top:4px;color:#aaa;}
#page_signin .error .help-block.error{margin-top:4px;color:#b94a48;}
#page_signin .help-block a,#page_signin .help-inline a{color:#777;text-decoration:none;}
#page_signin .help-block a:hover,#page_signin .help-inline a:hover{color:#444;text-decoration:underline;}

.progress {margin-bottom: 0;}

.btn-bot-status {width: 60px;}


#renderArea {
  width: 100%;
  height: 500px;
  background-color: #000000;
}

.label-slicing {
  background-color: #000080;
}

div.comment_meta {
  line-height: 30px;
  margin: 0;
  padding: 0;
}

div.comment_meta h4 {
  float: left;
  display: inline;
  margin: 0 20px 0 0;
  padding: 0;
}

div.comment_meta h4.muted {
  font-size: 75%;
}

div.comment_body {
  clear: both;
  border: 1px solid #d4d4d4;
  padding: 15px;
  margin-bottom: 10px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.comments div.controls, div.comments div.form-actions {
  margin-left: 0;
  padding-left: 0;
  border: none;
}

form.form-inline div.control-group, form.form-inline div.controls {
  display: inline;
}

div.bot_thumbnail img.webcam {
  background: #ccc;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.bot_thumbnail {
  position: relative;
  margin-bottom: 30px;
}

div.bot_thumbnail_stretcher {
  width: 100%;
  padding-bottom: 75%;
}

div.bot_thumbnail_content {
  border: 1px solid #d4d4d4;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

div.real_bot_thumbnail_content {
  position: absolute;
  top: 0;  bottom: 0;  left: 0;  right: 0;
}

div.bot_thumbnail div.bot_header div.bot_status_button {
  position: absolute;
  top: 4px;
  right: 4px;
}

div.bot_thumbnail div.bot_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31px;
  background-color:rgba(255, 255, 255, 0.75);
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.bot_header h3 {
  font-size: 20px;
  margin: 0;
  padding: 3px;
  line-height: normal;
}

div.bot_thumbnail_4 h3 {
  font-size: 16px;
}

div.bot_thumbnail_3 h3 {
  font-size: 14px;
}

div.bot_thumbnail div.bot_info_container {
  position: absolute;
  margin: 0;
  width: 100%;
  padding: 0;
  line-height: normal;
  bottom: 0;
  left: 0;
  background: #ddd; 
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.bot_thumbnail div.bot_info {
  margin: 4px;
}

div.bot_thumbnail h3 span.muted {
  font-size: 80%;
}

div.bot_thumbnail div.progress {
  height: 15px;
  margin: 3px 0;
}

div.bot_thumbnail_6 div.bot_info span.muted {
  font-size: 80%;
}

div.bot_thumbnail div.bot_info span.muted {
  font-size: 90%;
}

div.bot_thumbnail_4 {
  font-size: 95%;
}

div.bot_thumbnail_3 {
  font-size: 85%;
}

div.approve-app label.control-label {
  width: 60px;
}

div.approve-app div.controls {
  margin-left: 80px;
}

div.approve-app div.form-actions, div.deny-app div.form-actions {
  background-color: transparent !important;
  border-top: 0 !important;
}

div.approve-app h4, div.deny-app h4 {
  margin-bottom: 15px;
}

ul#editTab a {
  padding: 15px;
}

div.webcam_preview {
  border: 2px solid #666;
  margin-bottom: 30px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.webcam_preview img {
  margin-bottom: 1px;
}

div.webcam_preview.active {
  border: 2px solid #08C;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.webcam_preview.active span.webcam_name {
  color: #08C;
}

span.webcam_name {
  font-weight: bold;
  padding: 5px;
}

div.webcam_preview.span3 {
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

ul.install_tabs {
  margin-bottom: 0;
}

div.install_tabs {
  padding: 20px 15px;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

td.min-width {
  width: 1%;
  white-space: nowrap;
}

div.notification {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #444444;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}

div.notification.active {
  background-color: #d54b48;
}

hr {
  display: block;
  margin: 0.5em auto;
  border: 1px inset;
}