
/*** TOP SEARCH START*****/
.top .search {
float:right;
height:32px;
width:263px;
margin:12px 10px 0px 0px;
padding:0px 0px 0px 0px;
background:url(../images/search_bar.jpg) no-repeat;
}
.top .search form { margin:0px; padding:0px}
.top .search .inputbox
{
	float:left;
	width:150px;
	height:20px;
	padding:3px 0px 0px 0px;
	margin:4px 0 0 10px;
	color:#515151;
	border:none;
	background-color:#fff;
	/*background:url(../images/bak_bar.jpg);*/
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 15px;
	text-transform:capitalize;
}
/*** TOP SEARCH END******/


/*****TOP LINKS BOX START********/
.tlinks-box { margin:0px; padding:0px; vertical-align:top; border:0px solid green; }
.tlinks-box h1 { margin:0px; padding:0px; }
.tlinks-box .content { text-align:left; padding:3px; border:0px solid blue; }
.tlinks-box .content a {color:#444444; text-decoration:none; }
.tlinks-box .content a:hover {color:#444444; text-decoration:underline; } 
/*****TOP LINKS BOX START********/




 
/*****MODULE BOX FOR START********/
.module_box { margin:0px 0px 10px 0px; border:0px solid red; }
.module_box .content { text-align:left; padding:3px; border:0px solid blue; }
.module_box .content a {color:#444444; text-decoration:none; }
.module_box .content a:hover {color:#444444; text-decoration:underline; }
/*****MODULE BOX END********/



/*****NEWSLETTER BOX START********/
.newsletter_box {
float:left;
width:266px;
padding:0;
margin:10px 0px 0px 0px;
/*---- for news background 
background:url(../images/news-tile.jpg) repeat-x;
*/
}
.newsletter_box h2 {
padding:0px 0px 20px 0px;
margin:0px;
color:#ffffff;
font-size: 22px;
letter-spacing: -1px;
}
.newsletter_box p {
float:left;
width:185px;
padding:0;
font-family:"Trebuchet MS";
font-size:13px;
margin:10px 0px 10px 0px;
position:relative;
}
.newsletter_box .acymailing_form {
float:left;
width: 266px;
height:34px;
}
.newsletter_box .form {
float:left;
width: 175px;
margin:0px 0px 0px 0px;

}
.newsletter_box .inputbox {
width:165px;
background:#0a0907;
height:34px;
margin:0px;
padding:0px 0 0 10px;
font-family:Tahoma;
font-size:12px;
letter-spacing:0.5px;
color: #78706b;
border:none;
outline:none;
text-transform:none;
line-height: 31px;
background:url(../images/search_bar.png) no-repeat;
}

.newsletter_box .newsletter_btn {
float:right;
text-align:center;
width:91px;
height:34px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

.newsletter_box .newsletter_btn a {
float:left;
text-align:center;
width:91px;
height:27px;
padding:7px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-size:20px;
color:#FFFFFF;
text-transform:uppercase;
background:url(../images/s_btn.png) no-repeat;
line-height: 19px;
}

.newsletter_box .newsletter_btn a:hover {
background:url(../images/s_btn.png) no-repeat;
}

/*****NEWSLETTER BOX END********/

/*** LOGIN BOX START******/

.login-box { float:left; margin-left:5px; min-height:200px; border:0px solid blue; }
.login-box .content { float:left; width:100%; border:0px solid gray;    }
 
.login-box  h1 {    
	float:left;
 	height:auto;
	margin:5px 0px 0 0px;
	padding:0px 0px 7px 0px;
	font-size:20px;
	color:#120a09;
	font-family:Trebuchet MS;
	text-transform:uppercase;
	border-bottom:1px solid #f37d00;
}
 
.login-box fieldset { width:250px; margin:0px; padding:0px;  border:0px solid red; }
.login-box fieldset .inputbox { float:right; border:0px solid black; }
ilogin-box #form-login-remember { border:0px solid pink;}
.blk-txt { color:#000000;}
.blk-txt a { color:#000000;}

/*** LOGIN BOX END******/