/*** TOP BAR LINKS START******/

.navigation_area {
	float:left;
	width:900px;
	height:66px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background:url(/img/mnu_tile.png) repeat-x;
}

.navigation {
	float:left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:900px;
	height:66px;
}
.navigation span { padding-right:0px;}

.navigation ul.menu li{
    padding: 0; margin: 0; display:inline;
	
}
.navigation ul.menu li a {
	float: left;
	display:inline-block;
	padding: 26px 14px 0px 14px;
	margin:0px 2px 0px 0px;
	text-align:left;
	font-size: 18px;
	height:40px;
	width:auto;
	line-height:18px;
	text-decoration: none;
	text-transform:uppercase;
	color:#fff;
}
.navigation ul.menu li a:visited { color:#fff; text-decoration:underline;  }
.navigation ul.menu li a:hover{ color:#fff; background:url(/img/mnu_hvr.jpg) repeat-x; padding:0px auto; text-decoration:none;  }
.navigation ul.menu li#current a { color:#fff; background:url(/img/mnu_hvr.jpg) repeat-x; text-decoration:none;}
.navigation ul.menu a.last { background:none;}

/*** MAIN NAVIGATION END******/
/*** TOP LINKS START******/
.toplinks ul.menu {
	padding:0px;
	margin:0px 0px 0px 0px;
	float: right;
}
.toplinks ul.menu li{ display:inline; float:left; margin:0px 0px 0px 0px;   padding:0px; }
.toplinks ul.menu li a:link, .toplinks ul.menu li a:visited {
    float:left;
	color:#000;
	display:inline;
	width:auto;
	float:left;
	height:auto;
	padding:0px 14px 0px 14px;
	margin:3px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border-left:0px solid #000;
	background:url(/img/top_icon.jpg) no-repeat left;
	text-transform: capitalize;
}


.toplinks span { float:left; margin:0px; padding:0px;}

.toplinks ul.menu li a:hover  {
	color:#555555;
	text-decoration:underline;
}

.toplinks ul li#current a {
	color:#555555;
	text-decoration:underline;
}

.toplinks ul.menu li a.last {
	background:none;
}
/*** TOP LINKS END******/

/*** LEFT BAR LINKS START****/
.leftlinks ul.menu li a:link, .leftlinks ul.menu li a:visited {
	color:#fff;
	font-family:Trebuchet MS;
	font-size:13px;
	text-decoration:none;
	display:block;
	line-height:20px;
	padding:0px 8px 0px 28px;
	background:url(/img/b_icon2.png) 6px 7px no-repeat;
	margin:0px 0 0px 0;
	text-align:left;
	z-index:100;
	text-transform:none;
	width:144px;
}

.leftlinks ul.menu li a:hover  {
	color:#000000;
	background:url(/img/b_icon2_hvr.png) 6px 7px no-repeat;
}

.leftlinks ul li#current a {
	color:#000000;
	background:url(/img/b_icon2_hvr.png) 6px 7px no-repeat;
}


/*** LEFT BAR LINKS START*****/
 
 /*** RIGHT BAR LINKS START******/
.rightlinks ul.menu li a:link, .rightlinks ul.menu li a:visited {
	display:inline-block;
	color:#2c2c2c;
	width:180px;
	height:auto;
	padding:0px 8px 0px 20px;
	margin:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:26px;
	border-bottom:1px dotted #a1a1a1;
	text-decoration:none;
	background:url(/img/top_icon.jpg) 2px 7px no-repeat;
}

.rightlinks ul.menu li a:hover  {
    color: #000;
	font-weight:normal;
	text-decoration:none;
	background:url(/img/top_icon.jpg) 2px 7px no-repeat;
}

.rightlinks ul.menu li#current a {
    color: #000;
	font-weight:normal;
	text-decoration:none;
	background:url(/img/top_icon.jpg) 2px 7px no-repeat;
}

/*** RIGHT BAR LINKS START******/

/*** FOOTER BOX START******/

.footer_wraper { float:left; width:100%;  margin:10px 0px 0px 0px; background:url(/img/footer_tile.png) repeat-x;}

.footer { width:900px; margin:0px auto;}

.footer-box { float:left; text-align:left; width:900px; height:auto; margin:0px 0px 0px 0px; color:#FFFFFF; padding:0px 0px 0px 0px; }

.footer-box .module_box { border:0px solid #000; }




.footer_bottom {
	width:900px;
	float:left;
	height:auto;
	margin:20px 0px 0px 0px;
	padding:0px 0px 8px 0px;
	border-top:0px solid #242424;
}


.footer_left {
	width:520px;
	float:left;
	height:auto;
	margin:18px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.footer_bottom .copy_rights{
	float:left;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	width:340px;
	height:auto;
	padding:5px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

/*** FOOTER MENU START******/
.footer_menu { float:left; text-align:left; width:100%;}
.footer_menu ul.menu { margin:0px; padding:0px;}
.footer_menu ul.menu li a:link, .footer_menu ul.menu li a:visited {
	float:left;
	display:inline;
	width:200px;
	padding:0px 5px 0px 5px;
	margin:0px 0px 0px 0px;
	text-align:left;
	font-size:13px;
	font-family:Tahoma;
	width:auto;
	height:auto;
	color:#fff;
	text-decoration:none;
	
}
.footer_menu span { margin:0px; padding:0px;}

.footer_menu ul.menu li a:hover  {
	color:#c5ff05;
	text-decoration:none;
	background:url(/img/t_bordr.jpg) no-repeat right;
}

.footer_menu ul li#current a {
	color:#c5ff05;
	text-decoration:none;
	background:url(/img/t_bordr.jpg) no-repeat right;
}
/*** FOOTER MENU END******/

.footer_right{
	float:right;
	width:269px;
	height:auto;
	margin:20px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}

.footer_right .logo{
	float:left;
	width:269px;
	height:auto;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}

/* Tooltips */
#aToolTip{border:0px solid #444;background:#cd1307; width:auto; height:auto; color:#fff; margin:20px 0px 0px 0px; padding:2px 8px; font-size:11px; position:absolute; display:none;z-index:50000}
#aToolTip .aToolTipContent{position:relative; margin:0;padding:0;width:auto; color:#fff; height:auto;}
a#aToolTipCloseBtn{display:block; height:20px; width:20px; overflow:hidden; background:url(/img/close.gif) no-repeat; text-indent:-9999px; outline:none; position:absolute; top:-15px;right:-20px}

.icons{float:left; overflow:hidden; width:220px; margin:10px 0px 0px 20px;}
.icons a{float:left;margin-left:2px; color:#fff; margin:0px 2px 0px 2px;}

 
/*** FOOTER BOX END******/

.footer_left .footerlinks h1 {   
	float:left;
	width:140px;
 	height:auto;
	color:#FFFFFF;
	font-size:22px;
	margin:10px 0px 0 0px;
	padding:0px 0px 0px 0px;
	
}

.footerlinks{
	float:left;
	width:150px;
	border:0px solid black;
	padding:0px 0px 0px 0px;
	margin:0px 18px 0px 0px;
}
 
.footerlinks ul.menu {
	float:left;
	width:auto;
	display: block;
	padding:0px;
	text-align:left;
	width:140px;
	margin:10px 0px 0px 0px; 
}
.footerlinks ul.menu li {
	text-align:left;
	border0px solid yellow;}

.footerlinks ul.menu li a:link, .footerlinks ul.menu li a:visited {
	color: #ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin:0px 8px 0px 2px;
	padding:0px 0px 0px 16px;
	text-decoration: none;
	line-height:22px;
	background:url(/img/f_icon1.png) no-repeat scroll 3px 5px transparent;

}

.footerlinks ul.menu li a:hover  {
    color: #ffffff;
    text-decoration: underline;
}

.footerlinks ul li#current a {
    color: #ffffff;
    text-decoration: none;
	font-weight:bold;
}
