#    This file is part of BotQueue.
#
#    BotQueue is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    BotQueue is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with BotQueue.  If not, see <http://www.gnu.org/licenses/>.

#setup our site configuration
Options -Indexes
DirectoryIndex dispatcher.php
RewriteEngine on

#does it exist?
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$	$1 [NC,L]

#this brings the site down
#RewriteCond %{REQUEST_URI} !^/admin
#RewriteCond %{REQUEST_URI} !^/ajax/admin
#RewriteRule (.*) down.html [NC,L]

#ajax rule!
RewriteRule ^ajax/([_a-zA-Z0-9]+)/([_a-zA-Z0-9]+)/?$		dispatcher.php?mode=ajax&controller=$1&view=$2 [NC,L]

#random stuff
RewriteRule ^/?$					dispatcher.php?controller=main&view=home [NC,L]
RewriteRule ^home/?$					dispatcher.php?controller=user&view=home [NC,L]
RewriteRule ^activity(/page:([0-9]+))?/?$					dispatcher.php?controller=main&view=activity&page=$2 [NC,L]

#user login action
RewriteRule ^login/?$					dispatcher.php?controller=auth&view=login&mode=ajax [NC,L]
RewriteRule ^login/([A-Za-z0-9+/=]+)/?$	dispatcher.php?controller=auth&view=login&payload=$1&mode=ajax& [NC,L]
RewriteRule ^token/([A-Za-z0-9+/=]+)/?$	dispatcher.php?controller=auth&view=login&token=$1&mode=ajax [NC,L]
RewriteRule ^logout/?$					dispatcher.php?controller=auth&view=logout [NC,L]
RewriteRule ^forgotpass/?$				dispatcher.php?controller=auth&view=forgotpass [NC,L]
RewriteRule ^register/?$				dispatcher.php?controller=user&view=register [NC,L]

#admin area
RewriteRule ^admin/?$														dispatcher.php?controller=admin&view=home

#user profile stuff.
RewriteRule ^user:([0-9]+)/?$												dispatcher.php?controller=user&view=profile&id=$1 [NC,L]
RewriteRule ^user/edit														dispatcher.php?controller=user&view=edit [NC,L]		
RewriteRule ^user/changepass/?$												dispatcher.php?controller=user&view=changepass [NC,L]		
RewriteRule ^user:([0-9]+)/changepass/?$									dispatcher.php?controller=user&view=changepass&id=$1 [NC,L]		
RewriteRule ^user:([0-9]+)/edit/?$											dispatcher.php?controller=user&view=edit&id=$1 [NC,L]
RewriteRule ^user:([0-9]+)/delete/?$										dispatcher.php?controller=user&view=delete&id=$1 [NC,L]
RewriteRule ^user:([0-9]+)/resetpass:([0-9a-zA-Z]{40})/?$					dispatcher.php?controller=user&view=resetpass&id=$1&hash=$2 [NC,L]
RewriteRule ^user:([0-9]+)/activity(/page:([0-9]+))?/?$						dispatcher.php?controller=user&view=activity&id=$1&page=$3 [NC,L]

#queue stuff.
RewriteRule ^queue/create/?$												dispatcher.php?controller=queue&view=create [NC,L]
RewriteRule ^queue:([0-9]+)/?$												dispatcher.php?controller=queue&view=view&id=$1 [NC,L]

#uploader
RewriteRule ^upload/?$												dispatcher.php?controller=upload&view=home [NC,L]

#bot stuff.
RewriteRule ^bot/register/?$												dispatcher.php?controller=bot&view=register [NC,L]
RewriteRule ^bot:([0-9]+)/?$												dispatcher.php?controller=bot&view=view&id=$1 [NC,L]

#shortcode parsing
RewriteRule ^shortcode/([0-9a-zA-Z]+)?$										dispatcher.php?controller=main&view=shortcode&code=$1 [NC,L]

#api v1.
RewriteRule ^api/v1/?$												dispatcher.php?controller=apiv1&view=home [NC,L]
RewriteRule ^api/v1/register$												dispatcher.php?controller=apiv1&view=register_app [NC,L]
RewriteRule ^api/v1/app:([0-9]+)$												dispatcher.php?controller=apiv1&view=view_app&app_id=$1 [NC,L]
RewriteRule ^api/v1/app:([0-9]+)/edit$												dispatcher.php?controller=apiv1&view=edit_app&app_id=$1 [NC,L]
RewriteRule ^api/v1/app:([0-9]+)/delete$												dispatcher.php?controller=apiv1&view=delete_app&app_id=$1 [NC,L]
RewriteRule ^api/v1/authorize$												dispatcher.php?controller=apiv1&view=authorize_app [NC,L,QSA]
RewriteRule ^api/v1/revoke$												dispatcher.php?controller=apiv1&view=revoke_app [NC,L,QSA]
RewriteRule ^api/v1/request_token$												apiv1/oauth_request_token.php [NC,L,QSA]
RewriteRule ^api/v1/access_token$												apiv1/oauth_access_token.php [NC,L,QSA]
RewriteRule ^api/v1/endpoint$												apiv1/endpoint.php [NC,L,QSA]

#username wildcard pages.  must be at the very end to avoid conflicting with other pages
RewriteRule ^([-_a-zA-Z0-9]+)/?$											dispatcher.php?controller=user&view=profile&username=$1 [NC,L]
RewriteRule ^([-_a-zA-Z0-9]+)/edit/?$										dispatcher.php?controller=user&view=edit&username=$1 [NC,L]
RewriteRule ^([-_a-zA-Z0-9]+)/resetpass:([0-9a-zA-Z]{40})/?$				dispatcher.php?controller=user&view=resetpass&username=$1&hash=$2 [NC,L]
