#    This file is part of BotQueue.
#
#    BotQueue is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    BotQueue is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with BotQueue.  If not, see <http://www.gnu.org/licenses/>.

#setup our site configuration
Options -Indexes
DirectoryIndex dispatcher.php
RewriteEngine on

#does it exist?
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$	$1 [NC,L]

#this brings the site down
#RewriteCond %{REQUEST_URI} !^/admin
#RewriteCond %{REQUEST_URI} !^/ajax/admin
#RewriteRule (.*) down.html [NC,L]

#ajax rule!
RewriteRule ^ajax/([_a-zA-Z0-9]+)/([_a-zA-Z0-9]+)$		dispatcher.php?mode=ajax&controller=$1&view=$2 [NC,L]

#random stuff
RewriteRule ^$					dispatcher.php?controller=main&view=home [NC,L]
RewriteRule ^bootstrap$					dispatcher.php?controller=main&view=bootstrap&mode=ajax [NC,L]
RewriteRule ^home$					dispatcher.php?controller=user&view=home [NC,L]
RewriteRule ^activity(/page:([0-9]+))?$					dispatcher.php?controller=main&view=activity&page=$2 [NC,L]

#user login action
RewriteRule ^login$					dispatcher.php?controller=user&view=loginandregister [NC,L]
RewriteRule ^login/([A-Za-z0-9+/=]+)$	dispatcher.php?controller=user&view=loginandregister&payload=$1 [NC,L]
RewriteRule ^token/([A-Za-z0-9+/=]+)$	dispatcher.php?controller=user&view=loginandregister&token=$1 [NC,L]
RewriteRule ^logout$					dispatcher.php?controller=auth&view=logout [NC,L]
RewriteRule ^forgotpass$				dispatcher.php?controller=auth&view=forgotpass [NC,L]
RewriteRule ^register$				dispatcher.php?controller=user&view=loginandregister [NC,L]
RewriteRule ^preferences$				dispatcher.php?controller=user&view=preferences [NC,L]

#admin area
RewriteRule ^admin$														dispatcher.php?controller=admin&view=home

#user profile stuff.
RewriteRule ^user:([0-9]+)$												dispatcher.php?controller=user&view=profile&id=$1 [NC,L]
RewriteRule ^user/edit														dispatcher.php?controller=user&view=edit [NC,L]		
RewriteRule ^user/changepass$												dispatcher.php?controller=user&view=changepass [NC,L]		
RewriteRule ^user:([0-9]+)/changepass$									dispatcher.php?controller=user&view=changepass&id=$1 [NC,L]		
RewriteRule ^user:([0-9]+)/edit$											dispatcher.php?controller=user&view=edit&id=$1 [NC,L]
RewriteRule ^user:([0-9]+)/delete$										dispatcher.php?controller=user&view=delete&id=$1 [NC,L]
RewriteRule ^user:([0-9]+)/resetpass:([0-9a-zA-Z]{40})$					dispatcher.php?controller=user&view=resetpass&id=$1&hash=$2 [NC,L]
RewriteRule ^user:([0-9]+)/activity(/page:([0-9]+))?$						dispatcher.php?controller=user&view=activity&id=$1&page=$3 [NC,L]

#queue stuff.
RewriteRule ^queues(/page:([0-9]+))?$												dispatcher.php?controller=queue&view=home&page=$2 [NC,L]
RewriteRule ^queue/create$												dispatcher.php?controller=queue&view=create [NC,L]
RewriteRule ^queue:([0-9]+)$												dispatcher.php?controller=queue&view=view&id=$1 [NC,L]
RewriteRule ^queue:([0-9]+)/jobs/(available|taken|qa|failure|complete)(/page:([0-9]+))?$												dispatcher.php?controller=queue&view=listjobs&id=$1&status=$2&page=$4 [NC,L]

#uploader
RewriteRule ^upload$												dispatcher.php?controller=upload&view=home [NC,L]
RewriteRule ^upload/success/(.*)$												dispatcher.php?controller=upload&view=success&payload=$1 [NC,L,QSA]

#bot stuff.
RewriteRule ^bots(/page:([0-9]+))?$												dispatcher.php?controller=bot&view=home&page=$2 [NC,L]
RewriteRule ^bot/register$												dispatcher.php?controller=bot&view=register [NC,L]
RewriteRule ^bot:([0-9]+)$												dispatcher.php?controller=bot&view=view&id=$1 [NC,L]
RewriteRule ^bot:([0-9]+)/setstatus/(idle|offline)$												dispatcher.php?controller=bot&view=set_status&id=$1&status=$2 [NC,L]
RewriteRule ^bot:([0-9]+)/edit$												dispatcher.php?controller=bot&view=edit&id=$1 [NC,L]
RewriteRule ^bot:([0-9]+)/delete$												dispatcher.php?controller=bot&view=delete&id=$1 [NC,L]
RewriteRule ^bot:([0-9]+)/jobs(/page:([0-9]+))?$												dispatcher.php?controller=bot&view=listjobs&id=$1&page=$3 [NC,L]

#jobs stuff.
RewriteRule ^jobs$												dispatcher.php?controller=job&view=home [NC,L]
RewriteRule ^jobs/(available|taken|failure|complete)(/page:([0-9]+))?$												dispatcher.php?controller=job&view=listjobs&status=$1&page=$3 [NC,L]
RewriteRule ^job:([0-9]+)$												dispatcher.php?controller=job&view=view&id=$1 [NC,L]
RewriteRule ^job:([0-9]+)/edit$												dispatcher.php?controller=job&view=edit&id=$1 [NC,L]
RewriteRule ^job:([0-9]+)/delete$												dispatcher.php?controller=job&view=delete&id=$1 [NC,L]
RewriteRule ^job:([0-9]+)/qa$												dispatcher.php?controller=job&view=qa&id=$1 [NC,L]
RewriteRule ^job:([0-9]+)/qa/pass$												dispatcher.php?controller=job&view=qa_pass&id=$1 [NC,L]
RewriteRule ^job:([0-9]+)/qa/fail$												dispatcher.php?controller=job&view=qa_fail&id=$1 [NC,L]
RewriteRule ^job/create/file:([0-9]+)$												dispatcher.php?controller=job&view=create&file_id=$1 [NC,L]
RewriteRule ^job/create/job:([0-9]+)$												dispatcher.php?controller=job&view=create&job_id=$1 [NC,L]

#file stuff
RewriteRule ^file:([0-9]+)$												dispatcher.php?controller=job&view=file&id=$1 [NC,L]

#help stuff.
RewriteRule ^help$												dispatcher.php?controller=help&view=home [NC,L]

#shortcode parsing
RewriteRule ^shortcode/([0-9a-zA-Z]+)?$										dispatcher.php?controller=main&view=shortcode&code=$1 [NC,L]

#apps stuff.
RewriteRule ^apps$											        dispatcher.php?controller=app&view=home [NC,L]
RewriteRule ^app/register$											dispatcher.php?controller=app&view=register_app [NC,L]
RewriteRule ^app:([0-9]+)$										  dispatcher.php?controller=app&view=view_app&app_id=$1 [NC,L]
RewriteRule ^app:([0-9]+)/edit$							    dispatcher.php?controller=app&view=edit_app&app_id=$1 [NC,L]
RewriteRule ^app:([0-9]+)/delete$						    dispatcher.php?controller=app&view=delete_app&app_id=$1 [NC,L]
RewriteRule ^app/authorize$											dispatcher.php?controller=app&view=authorize_app [NC,L,QSA]
RewriteRule ^app/revoke/([0-9a-fA-F]+)$					dispatcher.php?controller=app&view=revoke_app&token=$1 [NC,L,QSA]

#apps stuff.
RewriteRule ^slicers$											        dispatcher.php?controller=slicer&view=home [NC,L]
RewriteRule ^slicer/create$									  		dispatcher.php?controller=slicer&view=create [NC,L]
RewriteRule ^slicer:([0-9]+)$										  dispatcher.php?controller=slicer&view=view&id=$1 [NC,L]
RewriteRule ^slicer:([0-9]+)/edit$							  dispatcher.php?controller=slicer&view=edit&id=$1 [NC,L]
RewriteRule ^slicer:([0-9]+)/delete$						  dispatcher.php?controller=slicer&view=delete&id=$1 [NC,L]

#ugh, legal stuff
RewriteRule ^tos$												dispatcher.php?controller=main&view=tos [NC,L]
RewriteRule ^privacy$										dispatcher.php?controller=main&view=privacy [NC,L]

#api v1.
RewriteRule ^api/v1$												    dispatcher.php?controller=apiv1&view=home [NC,L]
RewriteRule ^api/v1/endpoint$										apiv1.php [NC,L,QSA]

#username wildcard pages.  must be at the very end to avoid conflicting with other pages
RewriteRule ^([-_a-zA-Z0-9]+)$											dispatcher.php?controller=user&view=profile&username=$1 [NC,L]
RewriteRule ^([-_a-zA-Z0-9]+)/edit$										dispatcher.php?controller=user&view=edit&username=$1 [NC,L]
RewriteRule ^([-_a-zA-Z0-9]+)/resetpass:([0-9a-zA-Z]{40})$				dispatcher.php?controller=user&view=resetpass&username=$1&hash=$2 [NC,L]
